* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

nav {
  list-style: none;
  margin-top: 5px;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: black;
  margin: 10px;
}

a:hover {
  opacity: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 35px 100px 0;
  background-color: plum;

}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

.background-image {
  background-image: url(assets/img/main.jpg);
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/img/main.jpg);
}

.main-button {
  background-color: #3B3DAE;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 10px 24px;
  opacity: 1;
}

hr {
  width: 250px;
  height: 3spx;
  background-color: #3f51b5;
  margin-bottom: 50px
  border: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}
