body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-content: center;
  background-color: plum;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.nav-right {
  padding-left: 10px;
}

.nav-left {
  padding-top: 15px;
}

.main {
  display: flex;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/img/main.jpg);
}

.main-button {
  background-color: #3B3DAE;
  border-radius: 2px;
  border: none;
  display: inline-block;
  color: white;
  padding: 10px 24px
}

hr {
  width: 250px;
  height: 3spx;
  background-color: #3f51b5;
  margin-bottom: 50px
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.trips {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #E8E1E1;
}

.trip-type {
  display flex;
  flex-basis: 1;
}

.testimonials {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.pictures {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.learn-more {
  display: flex;
  text-align: center;
  flex-direction: column;
}
